/* Ensures the Three.js canvas stays in the background */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.hidden{
    display: none;
}
/* HEADER */
.header {
    position: absolute;
    top: 30px;
    width: 100%;
    text-align: center;
    z-index: 10;
}

.header h1 {
    letter-spacing: 6px;
    font-size: 2rem;
    margin: 0;
    text-shadow: 0 0 20px #bb86fc;
}

.subtitle {
    opacity: 0.7;
    font-size: 0.9rem;
}

/* PLAYER CARD */
.player-container {
    position: relative;
    z-index: 10;

    width: 320px;
    padding: 2rem;
    border-radius: 20px;

    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(20px);

    box-shadow: 0 20px 40px rgba(0,0,0,0.6);
    text-align: center;
}

/* ALBUM */
.album-wrapper img {
    width: 220px;
    height: 220px;
    border-radius: 15px;
    object-fit: cover;

    box-shadow: 0 10px 25px rgba(0,0,0,0.6);
    transition: transform 0.3s;
}

.album-wrapper img:hover {
    transform: scale(1.05);
}

/* TRACK TITLE */
#track-title {
    margin-top: 15px;
    font-size: 1.1rem;
    font-weight: 500;
}

/* CONTROLS */
.controls {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 18px;
}

.controls button {
    background: none;
    border: none;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.controls button:hover {
    color: #bb86fc;
    transform: scale(1.2);
}

.main-btn {
    font-size: 2.2rem;
}

/* PROGRESS BAR */
.progress-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.progress-bar-bg {
    flex: 1;
    height: 6px;
    background: #333;
    border-radius: 5px;
    overflow: hidden;
}

#progress-bar {
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, #bb86fc, #7b5cff);
    transition: width 0.1s linear;
}

/* START BUTTON */
.start-btn {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 10px;

    background: linear-gradient(90deg, #bb86fc, #7b5cff);
    color: white;
    font-weight: bold;
    cursor: pointer;

    transition: 0.3s;
}

.start-btn:hover {
    transform: scale(1.05);
}
#playlist-container {
    margin-top: 20px;
    max-height: 200px;
    overflow-y: auto;
    text-align: left;
}

#playlist-container h3 {
    font-size: 0.9rem;
    opacity: 0.6;
    margin-bottom: 10px;
}

#playlist {
    list-style: none;
    padding: 0;
    margin: 0;
}

#playlist li {
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 0.9rem;
}

#playlist li:hover {
    background: rgba(255,255,255,0.1);
}

#playlist li.active {
    background: #bb86fc;
    color: black;
    font-weight: bold;
}